{# src/Prueba/InicialBundle/Resouces/views/Blog/show.html.twig #}
{% extends "PruebaInicialBundle::base.html.twig" %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
            <h2>{{ blog.title }}</h2>
        </header>
        <img src="{{ asset(['PruebaBundle/images/', blog.image]|join) }}" alt="{{ blog.title }} image not found" class="large" />
        <div>
            <p>{{ blog.blog }}</p>
        </div>
    </article>
    <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Comments</h3>
            {% include 'PruebaInicialBundle:Comment:index.html.twig' with { 'comments': comments } %}
        </section>
         <h3>Add Comment</h3>
        {% render controller('PruebaInicialBundle:Comment:new',{ 'blog_id': blog.id }) %} {# Modificado, la forma antigua de era sin controller y despues del controlador with y los parámetros#}
    </section>
{% endblock %}